

.swiper {

  padding-bottom: 4rem;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  // display: flex;
  position: relative;
  
}

.swiper-slide img {
  width: 100%;
  display: block;
  object-fit: fill ;
}
.btn{
  margin: 10px;
  color: #fff;
  font-weight: 600;
  background-color: #0067b8;
  border-radius: 3px;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.swipertext1{
  width: 40%;
  height: 260px;
  position: absolute;
  top: 20%;
  right: 0px;
  z-index: 9;
  padding: 48px;
  .btn{
    width: 91px;
    height: 39px;
  }
  
}
.swipertext2{
  width: 40%;
  height: 260px;
  position: absolute;
  top: 20%;
  left: 0px;
  z-index: 9;
  padding: 48px;
  .btn{
    width: 120px;
    height: 39px;
  }
}
@media (max-width:1085px) {
  .swiper {
    padding-bottom: 20rem;
    position: relative;
    // margin-bottom: 300px; 
  }

  .swipertext1,.swipertext2{
    width: 95%;
    background-color: #fff;
    border:2px solid #000;
    top: 90%;
    left: 2.5%;
    box-shadow:3px 3px 12px gray;
  }
  
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 24px;
  color: black;
  z-index: 9;
}

.swiper-button-prev{
  top:93%;
  left: 51%;
    transform: translateX(-300%);
}
.swiper-button-next{
  top:93%;
  left: 48%;
    transform: translateX(300%);
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  top: -22px;
}

@media (max-width:1085px) {
  .swiper-pagination-bullet {
    // position: relative;
    top: -40px;
  }
}


.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}
.play,.stop{
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top:-25px;
  left: calc(50% - 100px);
  z-index: 15;
  cursor: pointer;
}
.play {
  background-image: url(../img/play.png);
  display: none; 
}
.stop {
  background-image: url(../img/stop.png);
}

.stop:hover,.play:hover{
  filter: invert(100%); 
}