<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div id="app">
        <ul class="nav nav-pills mb-3 bg-body-secondary justify-content-around" >
            <li class="nav-item " >
                <button class="nav-link" :class="{ active:isActive === 'All'}" @click="isActive='All',changeArea(0)"  type="button" >全台</button>
            </li>
            <li class="nav-item " >
                <button class="nav-link" :class="{ active:isActive === 'North'}" @click="isActive='North',changeArea(1)" type="button" >北部</button>
            </li>
            <li class="nav-item " >
                <button class="nav-link" :class="{ active:isActive === 'Center'}" @click="isActive='Center',changeArea(2)" type="button" >中部</button>
            </li>
            <li class="nav-item " >
                <button class="nav-link" :class="{ active:isActive === 'South'}" @click="isActive='South',changeArea(3)" type="button" >南部</button>
            </li>
            <li class="nav-item " >
                <button class="nav-link" :class="{ active:isActive === 'East'}" @click="isActive='East',changeArea(4)" type="button" >東部</button>
            </li>
            <li class="nav-item " >
                <button class="nav-link" :class="{ active:isActive === 'Outside'}" @click="isActive='Outside',changeArea(5)" type="button" >離島</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active"  tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div v-for="(item,index) in nowCityAll" :key="index" class="col-2">
                                <div class="card bg-info mb-2">
                                    <h2 class="m-auto">{{data.location[item].locationName}}</h2>
                                    <div class="m-auto" v-if="data.location[item].weatherElement[0].time[0].parameter.parameterValue < 10">
                                        <img :src=`https://www.cwa.gov.tw/V8/assets/img/weather_icons/weathers/svg_icon/day/0${data.location[item].weatherElement[0].time[0].parameter.parameterValue}.svg` class="card-img-top" style="width: 80px;height: 80px;" alt="">
                                    </div>
                                    <div class="m-auto" v-else="data.location[item].weatherElement[0].time[0].parameter.parameterValue >= 10">
                                        <img :src=`https://www.cwa.gov.tw/V8/assets/img/weather_icons/weathers/svg_icon/day/${data.location[item].weatherElement[0].time[0].parameter.parameterValue}.svg` class="card-img-top" style="width: 80px;height: 80px;"  alt="">
                                    </div>
                                    <div class="card-body  ">
                                        <h5>{{data.location[item].weatherElement[0].time[0].parameter.parameterName}}</h5>
                                        <div class="PoP"><b>濕度:</b>{{data.location[item].weatherElement[1].time[0].parameter.parameterName}}%</div>
                                        <div class="Temp">
                                            <b>溫度:</b>{{data.location[item].weatherElement[2].time[0].parameter.parameterName}}°C~{{data.location[item].weatherElement[4].time[0].parameter.parameterName}}°C
                                        </div>
                                        <div class="CI"><b>體感:</b>{{data.location[item].weatherElement[3].time[0].parameter.parameterName}}</div>
                                        <div><b>時間:</b></div>
                                        <div>{{data.location[item].weatherElement[0].time[0].startTime}}~{{short(data.location[item].weatherElement[0].time[0].endTime)}}</div>
                                        
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
            </div>         
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module">
        import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js';
        const app = createApp({
            data() {
                return {
                    data: [],
                    isActive:'All',
                    cityAll : [
                        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
                        [1, 3, 4, 5, 7, 13, 18],
                        [8, 9, 11, 14, 20],
                        [0, 2, 6, 15, 17],
                        [10, 12],
                        [16, 19, 21],
                    ],
                    nowCityAll : []
                }
            },
            methods: {
                getRendomUser(){
                    let url = 'https://opendata.cwa.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=CWB-896CB461-1D64-4B00-95C8-3A5369CAB8BF';
                    fetch(url)
                    .then(function (response) {
                        return response.json();
                    }).then((dataGet)=>{
                        this.data=dataGet.records
                    })                
                },
                changeArea(index) {
                    this.nowCityAll = this.cityAll[index];
                },
                short(birth) {
                    return birth.substr(10)
                }

            },

            mounted() {
                this.getRendomUser(),
                this.nowCityAll = this.cityAll[0]

            }

        }).mount('#app');


    </script>


</body>

</html>